.container {
    padding: 10px 80px;
    display: flex;
    justify-content: space-around
}

.drag-item {
    height: 40px;
    width: 100px;
    list-style: none;
    background-color: hotpink;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    margin: 5px 0px;
    cursor: pointer;
}